.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: #a7727d;
}
.blue {
  background-color: #6096b4;
}
.green {
  background-color: #b5f1cc;
}
.purple {
  background-color: #ffaacf;
}
.yellow {
  background-color: #e5fdd1;
}
